* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }
  
  .sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    color: #fff;
    background-image: url(./back\ ground\ image.jfif);
    padding: 1rem;
  }
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 1 rem;
  }
  .sidebar-menu {
    padding: 1rem;
  }
  .sidebar li {
    margin-bottom: 1.3rem;
  }
  .sidebar a {
    color: #fff;
    font-size: 1.5rem;
  }
  .sidebar a span {
    padding-left: 1rem;
  }
  
  .messages-container {
    position: relative;
    margin-left: 240px;
    text-align: center;
  }
  table {
    margin-top: 150px;
    margin-left: 220px;
  }
  